@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

.react-grid-item.react-grid-placeholder {
  background: var(--accent) !important;
  opacity: 0.15 !important;
  border-radius: var(--radius-card);
}
